<div class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <!-- Left Section: Logo and Tagline -->
    <div class="navbar-left">
      <%= link_to "/projects", class: "d-flex align-items-center text-decoration-none logo" do %>
        <%= image_tag "logo.png", alt: "Green Link Logo", class: "logo-icon me-2" %>
        <span class="logo-text">Green Link</span>
      <% end %>
    </div>

    <!-- Right Section: Links -->
    <div class="navbar-right">
      <ul class="nav-links d-flex align-items-center mb-0">
        <% if user_signed_in? %>
          <li><%= link_to "Start A Project", "/projects/new", class: "nav-link fw-bold button-light-green" %></li>
          <li><%= link_to "Green Energy Glossary", about_energy_path, class: "nav-link fw-bold" %></li>
          <li class="dropdown nav-link fw-bold">
            <p id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
              Profile
            </p>
            <div class="dropdown-menu dropdown-menu-end">
              <%= link_to "Your profile", profile_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li><%= link_to "Login", new_user_session_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <!-- Second Row: Search Bar and Font Adjustment -->
  <%# <div class="mt-2 row d-flex justify-content-center align-items-center w-100"> %>

    <!-- Search Bar -->


    <!-- Font Adjustment -->
    <%# <div class="col-3", style="width: 21%;">
      <div class="font-adjust", style="padding: 0.5rem;">
        <label for="font-slider" class="font-label me-2">Adjust font-size</label>
        <input type="range" id="font-slider" class="font-slider" min="10" max="19" step="3">
      </div>
    </div> %>
  <%# </div> %>
</div>
