
<%=  link_to "temporary button to payment.new", new_payment_path %>

  <h1>Green Link</h1>
  <p>Enter donation amount:</p>
  <%= simple_form_for(@donation) do |f| %>
    <%= f.input :amount %>
    <%= f.input :tip %>
    <%= f.submit "Checkout!", class: "checkout-button" %>
  <% end %>
