<h1 class="project-title pt-3"><%= @project.title %></h1>
<div class="donation-container">
  <%= simple_form_for @donation, url: project_donations_path, html: { class: 'donation-form' } do |f| %>
    <div class="form-group">
      <%= f.label :amount, "Enter donation amount:", class: "fs-5 fw-bold" %>
      <div class="donation-buttons">
        <% [50, 100, 200, 500, 1000].each do |preset| %>
          <button type="button" class="donation-option" data-value="<%= preset %>">£<%= preset %></button>
        <% end %>
      </div>
      <%= f.input :amount, input_html: { class: 'donation-input', placeholder: "£" }, label: false %>
    </div>

    <%# <div class="form-group"> %>
      <%#= f.label :tip, "Tip:" %>
      <%#= f.input :tip, input_html: { class: 'tip-input', placeholder: "£" }, label: false %>
    <%# </div> %>

    <%= f.button :submit, "Checkout", class: "checkout-button" %>
  <% end %>
</div>
