
<div class="main-container">
  <div class="cards max-w-50">
    <% @projects.each do |project|%>
      <div class="card">
        <h5><%=project.title%></h5>
        <p class="card-text"><%= project.progress%></p>
        <p class="card-text"><%= project.target%></p>
        <p class="card-text"><%= project.address%></p>
      </div>
    <% end%>
  </div>

  <div id="greenlink-map"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>



<div class="container m-2">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title d-flex justify-content-start">Project Title</h5>
      <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar bg-success d-flex justify-content-start" style="width: 25%"></div>
      </div>
      <h5 class="total-raise d-flex justify-content-start mt-3">£ ... raised</h5>
    </div>
  </div>
</div>
