<div class="main-container">
  <div class="cards">
    <% @projects.each do |project| %>
    
      <%= link_to project_path(project), class: "card", style: "width: 100%;" do %>
        <div class="card-body">
          <h5 class="card-title custom-padding d-flex justify-content-start">
            <p class="card-title"><%= project.title %></p>
          </h5>
          <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-success d-flex justify-content-start" style="width: <%=( (project.total / project.target.to_f) * 100) > 100 ? 100 : (project.total / project.target.to_f) * 100  %>%;"></div>
          </div>
          <p class="total-raise d-flex justify-content-start mt-3"><strong>
            <%= humanized_money_with_symbol (project.total / 100.00) %> raised </strong>
          </p>
          <button class="pill"><%= project.display_categories %></button>
          <button class="pill"><%= project.region %></button>

        </div>
      <% end %>
    <% end %>
  </div>

  <div id="projects-index-map"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
