<div class="consistent-container">
  <div class="mt-3 row d-flex justify-content-center align-items-center w-100">
    <div style="width: 60%;">
      <%= form_with(url: projects_path, method: :get, class: "d-flex search-bar") do |f| %>
        <%= f.text_field :query, placeholder: "Search for renewable energy, e.g., 'solar'...", class: "search-input" %>
        <%= f.button nil, type: "submit", class: "search-btn", style: "position: absolute; right: 3px;", name: nil do  %>
          <i class="fas fa-search"></i><p class="fw-bold px-1", style="margin: 0;">Search</p>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="card-container">
    <div class="cards">
      <% @projects.each do |project| %>
        <%= link_to project_path(project), class: "card", style: "width: 100%;" do %>
          <div>
            <% if project.photo.attached? %>
              <%= cl_image_tag project.photo.key, class: "card-image" %>
            <% else %>
              <%= image_tag "logo.png", alt: "Green Link Logo", class: "card-image" %>
            <% end %>
          </div>
          <div class="card-body">
            <h5 class="card-title custom-padding d-flex justify-content-start m-0">
              <p class="card-title"><%= project.title %></p>
            </h5>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar d-flex justify-content-start" style="width: <%=( (project.total / project.target.to_f) * 100) > 100 ? 100 : (project.total / project.target.to_f) * 100  %>%;"></div>
            </div>
            <p class="card-total-raise d-flex ms-2"><strong>
                <%= humanized_money_with_symbol (project.total / 100.00) %> raised </strong>
            </p>
            <div class="pill-container">
              <button class="pill row my-2"><%= project.display_categories %></button>
              <button class="pill row"><%= project.region %></button>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div id="projects-index-map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
