<div class="main-container">
<%# <div class="container m-2"> %>
  <div class="cards max-w-50">
    <% @projects.each do |project|%>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
            <%# <img src="..." class="card-img-top" alt="..."> %>
            <h5 class="card-title d-flex justify-content-start"><%= link_to project.title, project_path(project), class: "card-title" %></h5>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar bg-success d-flex justify-content-start" style="width: <%=( (project.total / project.target.to_f) * 100) > 100 ? 100 : (project.total / project.target.to_f) * 100  %>%;"></div>
            </div>
              <h5 class="total-raise d-flex justify-content-start mt-3"><%= humanized_money_with_symbol (project.total / 100.00) %> raised</h5>
              <p class="card-text">Target: <%= humanized_money_with_symbol (project.target / 100.00)%></p>
              <p class="card-text"><%= project.region%></p>
        </div>
      </div>
    <% end%>
  </div>

  <div id="greenlink-map"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
