<h3>Starting a conservation project today is an investment in a healthier planet tomorrow</h3>
<%= simple_form_for(@project) do |f| %>
  <%= f.input :title%>
  <p>Tell us about your project:</p>
  <%= f.input :description %>
  <p>What will the funds go towards?</p>
  <%= f.simple_fields_for :categories do |c| %>
    <%= c.input :name%>
  <% end %>
  <%= f.input :target %>
  <p>Choose the location where you plan to withdrawl your funds</p>
  <%= f.input :address %>
  <%= f.input :region %>
  <%= f.input :auditor %>
  <%= f.input :closing_date,
                    html5: true %>
  <%= simple_form_for(@project) do |f| %>
    <%= f.input :photo, as: :file %>
  <% end %>
  <%= f.submit "post", class: "button-light-green" %>
<% end %>
