<div class="container">
  <h1 class="projects-title"><%= @project.title %></h1>
  <div class="flex-container">
    <div class="flex-item col-8">
      <%# <%= link_to image_tag("logo.png", style: "width: 50%; height: auto;", class: "image-class") %>
      <%= cl_image_tag @project.photo.key, height: 300, width: 400, crop: :fill %>
      <hr>
      <h5><strong>Audited by:</strong></h5>
      <p><%= @project.auditor %></p>
      <hr>
      <p><%= @project.description %></p>
      <hr>
      <p><strong>Location :</strong> <%=@project.region %>, <%= @project.address%></p>
    </div>

    <div class="flex-item col-3">
      <div class="card-donation mb-4">
        <h6><strong><%= humanized_money_with_symbol (@project.total / 100.00) %> Raised</strong></h6>
        <p style="color: gray">£<%= number_to_human(@project.target / 100, :format => '%n%u', :units => { :thousand => 'K' })%> Target</p>
        <p><%= rand(142..4200)%> Donations</p>
        <%= link_to "Donate Now", new_project_donation_path(@project), class: "btn button-medium button-main-green donate-button" %>
        <a class="btn button-medium button-blue share-button" href="#" id="shareButton">Share</a>
        <p><%= @project.names %></p>
        <p><strong><%=humanized_money_with_symbol (@project.recent_donation / 100)%></strong> - Recent Donation</p>
        <p><%= @project.names %></p>
        <p><strong><%= humanized_money_with_symbol (@project.top_donation / 100)%></strong> - Top donation</p>
        <p><%= @project.names %></p>
        <p><strong><%= humanized_money_with_symbol (@project.recent_donation / 100)%></strong> - Recent Donation</p>
        <%# <div class="flex-container justify-content-around py-4 see-button">
          <a class="btn button-small button-white" href="#">See All</a>
          <a class="btn button-small button-white" href="#">See Top</a>
        </div> %>
      </div>
        <div id="greenlink-map" class="project-show-map" style="width: 100%; height: 280px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
    </div>
  </div>
</div>
