  <% content_for :meta_title, "#{@project.title} is on #{DEFAULT_META["meta_name"]}" %>
  <% content_for :meta_description, @project.description %>
  <% content_for :meta_image, @project.photo.attached? ? cl_image_path(@project.photo.key) : "logo.png" %>

<div class="container">
  <h1 class="projects-title my-3"><%= @project.title %></h1>
  <div class="flex-container">
    <div class="flex-item col-8">
      <% if @project.photo.attached? %>
        <%= cl_image_tag @project.photo.key, class: "show-image" %>
      <% else %>
        <%= image_tag "logo.png", alt: "Green Link Logo", class: "logo-icon me-2" %>
      <% end %>
      <hr>
      <div class="d-flex justify-content-between", style="height: 65px;">
        <div>
          <h5><strong>Audited by:</strong></h5>
          <%= @project.auditor %>
        </div>
        <div class="d-flex align-items-center">
          <i class="fa-solid fa-circle-check fa-2xl"></i>
        </div>
      </div>
      <hr>
      <p><%= @project.description %></p>
      <hr>
      <div class="info-flex">
        <p><strong>Location:</strong> <%=@project.region %>, <%= @project.address%></p>
      </div>
    </div>




    <div class="flex-item col-3", style="width: auto;">
      <div class="card-donation mb-4" >
          <h6><strong><%= humanized_money_with_symbol (@project.total / 100.00) %> Raised</strong></h6>
          <h6><strong>£<%= number_to_human(@project.target / 100, :format => '%n%u', :units => { :thousand => 'K' })%> Target</strong></h6>
          <p><strong>Closing date:</strong> <%= @project.closing_date.strftime('%d/%m/%Y') %></p>
        <%= link_to "Donate Now", new_project_donation_path(@project), class: "btn button-medium button-main-green" %>
        <a class="btn button-medium button-blue" href="whatsapp://send?text=<%= request.original_url %>" id="shareButton">Share on Whatsapp</a>
        <p class="mb-3"><strong><%= @project.donations.count%> Donations:</strong></p>
        <p><strong>Most Recent Donation</strong></p>
            <% if @project.recent_donation.nil?%>
              <p>No donations just yet, become the first to donate <%= link_to 'here!', new_project_donation_path(@project) %></p>
            <% else %>

              <p><strong><i class="fa-solid fa-earth-americas", style="color: green;"></i> <%=humanized_money_with_symbol (@project.recent_donation.amount / 100)%></strong> - <%= @project.recent_donation.user.first_name %> <%= time_ago_in_words(@project.recent_donation.created_at) %> ago</p>
            <% end %>
              <p><strong>Top Donation</strong></p>
              <% if @project.top_donation.nil? %>
                <p>No donations just yet, become the first to donate <%= link_to 'here!', new_project_donation_path(@project) %></p>
              <% else %>

              <p><strong><i class="fa-solid fa-earth-americas", style="color: green;"></i> <%= humanized_money_with_symbol (@project.top_donation.amount / 100)%></strong> - <%= @project.top_donation.user.first_name %> <%= time_ago_in_words(@project.top_donation.created_at) %> ago</p>
            <% end %>

        <div class="show-container justify-content-around see-button">
          <!-- Button to Open Modal -->
          <a class="btn button-small button-white" href="#" data-bs-toggle="modal" data-bs-target="#donations-modal" id="see-all">See All</a>
          <%# STILL TO DO - CODE 'SEE TOP' BUTTON %>
          <a class="btn button-small button-white" href="#"
            data-bs-toggle="modal" data-bs-target="#donations-modal"
          >See Top</a>
        </div>
      </div>
        <div id="greenlink-map" class="project-show-map" style="width: 100%; height: 280px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
    </div>
  </div>



    <%# DONATIONS MODAL CONTENT %>
  <div id="donations-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <%= render "donations/index_modal", donations: @project.donations  %>
    </div>
  </div>
</div>
</div>
