<div class="container">

  <h1>Projects: <%= @project.title %></h1>
  <div class="flex-container">
    <div class="flex-item col-8">
      <%= link_to image_tag("logo.png", style: "width: 50%; height: auto;") %>
      <h2>Subheading</h2>
      <p><%= @project.description %></p>
    </div>

    <div class="flex-item col-3">
      <div class="card-donation">
        <h6><strong><%= humanized_money_with_symbol (@project.total / 100.00) %> Raised</strong></h6>
        <p><%= humanized_money_with_symbol (@project.target / 100.00) %> Target</p>
        <p>226 Donations</p>
        <%= link_to "Donate Now", new_project_donation_path(@project), class: "btn button-medium button-main-green" %>
        <a class="btn button-medium button-blue" href="#">Share</a>
        <p>Theo</p>
        <p><strong>£ 4.000</strong> - Recent Donation</p>
        <p>Nico </p>
        <p><strong>£ 4.650</strong> - Top donation</p>
        <p>Jaime </p>
        <p><strong>£ 3.000</strong> - Recent Donation</p>
        <div class="flex-container justify-content-around py-4 see-button">
          <a class="btn button-small button-white" href="#">See All</a>
          <a class="btn button-small button-white" href="#">See Top</a>
        </div>
      </div>
    </div>
  </div>

</div>

<h1>Description:</h1>
<%= @project.description %>
<h1>Location:</h1>
<p><%=@project.region %>, <%= @project.address%></p>
<h3>Audited by:</h3>
<%= @project.auditor %>
