<div class="container">

  <h1><%= @project.title %></h1>
  <div class="flex-container">
    <div class="flex-item col-8">
      <%= link_to image_tag("logo.png", style: "width: 50%; height: auto;") %>
      <hr>
      <h5>Audited by:</h5>
      <p><%= @project.auditor %></p>
      <hr>
      <p><%= @project.description %></p>
      <hr>
      <p><%=@project.region %>, <%= @project.address%></p>
    </div>

    <div class="flex-item col-3">
      <div class="card-donation">
        <h6><strong><%= humanized_money_with_symbol (@project.total / 100.00) %> Raised</strong></h6>
        <p><%= humanized_money_with_symbol (@project.target / 100.00) %> Target</p>
        <p>226 Donations</p>
        <%= link_to "Donate Now", new_project_donation_path(@project), class: "btn button-medium button-main-green" %>
        <a class="btn button-medium button-blue" href="#">Share</a>
        <p>Theo</p>
        <p><strong>£ 4.000</strong> - Recent Donation</p>
        <p>Nico </p>
        <p><strong>£ 4.650</strong> - Top donation</p>
        <p>Jaime </p>
        <p><strong>£ 3.000</strong> - Recent Donation</p>
        <div class="flex-container justify-content-around py-4 see-button">
          <a class="btn button-small button-white" href="#">See All</a>
          <a class="btn button-small button-white" href="#">See Top</a>
        </div>
      </div>
        <div id="greenlink-map" class="project-show-map" style="width: 100%; height: 250px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
    </div>
  </div>
</div>

