<!DOCTYPE html>
<html>
  <head>
    <title>Greenlink</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <%= favicon_link_tag asset_path('logo-modified-removebg-preview.png') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="white-background">
    <% unless @hide_navbar %>
      <%= render "shared/navbar" %>
    <% end %>
    <%= render "shared/flashes" %>
    <div style="min-height: calc(100vh - 256px); margin-bottom: 0px;">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
